<nav class="navbar navbar-expand-lg">

  <div class="container-fluid">
    <a href="#" class="navbar-brand">
      <img src="../../assets/logo6.png" alt="CoolBrand">
    </a>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink='home'>HOME</a>
        <a class="nav-item nav-link" routerLink='bookstore'>BOOKSTORE</a>
        <a class="nav-item nav-link" routerLink='account'>MY ACCOUNT</a>
        <a class="nav-item nav-link" routerLink='contact'>CONTACT</a>
      </div>
    </div>
  </div>
</nav>

<!-- <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="../../assets/logo6.png" alt="CoolBrand">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>  
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Dropdown</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Chetan Bhagat</a></li>
            <li><a class="dropdown-item" href="#">Robin Sharma</a></li>
            <li><a class="dropdown-item" href="#">Ravinder Singh</a></li>
            <li><a class="dropdown-item" href="#">Preeti Shenoy</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav> -->


<router-outlet></router-outlet>