<div class="content2">

    <div class="head11">
        <p class="head12">
            New Arrivals
        </p>
    </div>

    <div class="content22">

        <div class="card">
            <img class="card-img-top" src="../../assets/RS2.png" alt="Card image">
            <div class="card-body">
              <h4 class="card-title">THE EVERYDAY HERO <br> MANIFESTO</h4>
              <p class="card-text">RobinSharma</p>
              <p class="card-price"><i class="fa fa-rupee"></i>&nbsp;350</p>
            </div>
        </div>
    
        <div class="card">
            <img class="card-img-top" src="../../assets/CB5.jpg" alt="Card image">
            <div class="card-body">
              <h4 class="card-title">400 DAYS</h4>
              <p class="card-text">Chetan Bhagat</p>
              <p class="card-price"><i class="fa fa-rupee"></i>&nbsp;250</p>
            </div>
        </div>
    
        <div class="card">
            <img class="card-img-top" src="../../assets/RAS5.jpg" alt="Card image">
            <div class="card-body">
              <h4 class="card-title">WRITE ME A <br> LOVE STORY</h4>
              <p class="card-text">Ravinder Singh</p>
              <p class="card-price"><i class="fa fa-rupee"></i>&nbsp;250</p>
            </div>
        </div>

        <div class="card">
            <img class="card-img-top" src="../../assets/PS5.jpg" alt="Card image">
            <div class="card-body">
              <h4 class="card-title">THE MAGIC MINDSET <br> <h6>HOW TO FIND HAPPY PLACE</h6> </h4>
              <p class="card-text">Preeti Shenoy</p>
              <p class="card-price"><i class="fa fa-rupee"></i>&nbsp;250</p>
            </div>
        </div>
    
    </div>

</div>
