<div class="content1">

    <div class="head1">
        <p class="head2">
            Popular Books
        </p>
    </div>

    <div class="content11">

        <div class="card">
            <img class="card-img-top" src="../../assets/RS1.jpg" alt="Card image">
            <div class="card-body">
              <h4 class="card-title">THE MONK WHO SOLD <br> HIS FERRARI</h4>
              <p class="card-text">RobinSharma</p>
              <p class="card-price"><i class="fa fa-rupee"></i>&nbsp;225</p>
            </div>
        </div>
    
        <div class="card">
            <img class="card-img-top" src="../../assets/CB1.png" alt="Card image">
            <div class="card-body">
              <h4 class="card-title">THE GIRL IN <br> ROOM 105</h4>
              <p class="card-text">Chetan Bhagat</p>
              <p class="card-price"><i class="fa fa-rupee"></i>&nbsp;199</p>
            </div>
        </div>
    
        <div class="card">
            <img class="card-img-top" src="../../assets/RAS1.jpg" alt="Card image">
            <div class="card-body">
              <h4 class="card-title">I TOO HAD A <br> LOVE STORY</h4>
              <p class="card-text">Ravinder Singh</p>
              <p class="card-price"><i class="fa fa-rupee"></i>&nbsp;199</p>
            </div>
        </div>

        <div class="card">
            <img class="card-img-top" src="../../assets/PS1.jpg" alt="Card image">
            <div class="card-body">
              <h4 class="card-title">LIFE IS WHAT <br> YOU MAKE IT</h4>
              <p class="card-text">Preeti Shenoy</p>
              <p class="card-price"><i class="fa fa-rupee"></i>&nbsp;150</p>
            </div>
        </div>
    
    </div>

</div>
