<div class="head2">
    <h1>Contact</h1>
    <h4>Home / Contact</h4>
</div>

<div class="main-con">
    <div class="row">
        <div class="col-md-12">
            <div class="main-con-inner">
                <article>
                    <div class="entry-content">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="section">
                                    <form action="" class="form1">
                                        <div>
                                            <input type="text" name="name" placeholder="Your Name" id="name" class="form-control">
                                        </div>
                                        <div>
                                            <input type="email" name="email" placeholder="Your Email" id="email" class="form-control">
                                        </div>
                                        <div>
                                            <textarea name="msg" id="msg" cols="30" rows="10" class="form-control" placeholder="Your Message"></textarea>
                                        </div>
                                        <p class="buttons">
                                            <input type="submit" value="Submit" class="btn btn-primary" id="sub">
                                        </p>
                                    </form>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <img src="../../assets/con1.jpg" alt="#" style="width: 100%; height: 88%;">
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</div>