.head3{
    background-color: #515570;
    padding: 40px;
}
h1, h4{
    text-align: center;
    color: #fff;
    letter-spacing: 2px;
}
h1{
    font-size: 50px;
}

.main-con{
    /* border: 1px solid red; */
    padding: 60px;
    background-color: #EDF3F4;
}
#log, #reg{
    padding: 10px;
    font-size: 18px;
}
.form1{
    border: 3px solid #EDF3F4;
    padding: 10px;
}

.col-md-6{
    padding: 30px;
    background-color: #fff;
}
#name, #pw{
    background-color: #EDF3F4;
}
input[type=name], [type=email]{
    margin-top: 15px;
    width: 30%;
}
input[type=submit]{
    background-color: black;
    color: #fff;
    border-radius: 50px;
    width: 15%;
    margin-top: 15px;
}
