<div class="head3">
    <h1>My Account</h1>
    <h4>Home / My Account</h4>
</div>

<div class="main-con">
    <div class="row">
        <div class="col-md-12">
            <div class="main-con-inner">
                <article>
                    <div class="entry-content">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="section">
                                    <label id="log">Login</label>
                                    <form action="" class="form1">
                                        <div>
                                            <label for="name">Username or email address</label>
                                            <input type="text" name="name" placeholder="Your Name" id="name" class="form-control">
                                        </div>
                                        <div>
                                            <label for="pw">Password</label>
                                            <input type="password" name="pass" placeholder="Your Email" id="pw" class="form-control">
                                        </div>
                                        <p class="buttons">
                                            <input type="submit" value="Login" class="btn btn-primary" id="sub">
                                        </p>
                                    </form>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="section">
                                    <label id="reg">Register</label>
                                    <form action="" class="form1">
                                        <div>
                                            <label for="name">Email address</label>
                                            <input type="text" name="name" placeholder="Your Name" id="name" class="form-control">
                                        </div>
                                        <div>
                                            <label for="pw">Password</label>
                                            <input type="password" name="pass" placeholder="Your Email" id="pw" class="form-control">
                                        </div>
                                        <p class="buttons">
                                            <input type="submit" value="Register" class="btn btn-primary" id="sub">
                                        </p>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</div>
